// Set variables to use throughout the stylesheet to keep everything consistent
$gutter: 15px;
$pink: #e90053;
$purple: #3c0b41;
$grey: #eaeaea;
$name-font-size: 1.3em;
$role-font-size: 1.1em;
$general-font-size: 1em;
